
/* top navigation bar */

.Navigation {
    width: 100%;
    background: black;
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: space-between;

}

.tabs {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 300px;
    padding: 12px 12px;

}

img .logo {
    max-width: 50px;
    height: auto;

}

body {
    color: seashell;
    background: black;
}