
/* top navigation bar */

.Navigation {
    width: 100%;
    background: black;
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 69px;
}

.tabs {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 300px;

}

.logo img {
    max-height: 50px;
    width: auto;

}

body {
    color: seashell;
    background: black;
    font-family: Helvetica;
}